@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0 1rem;
    background-color: #f3e1d2;
    min-width: 100vw;
}

.header h2 {
    font-family: 'Great Vibes', cursive;
    color: #9d8167;
    text-align: center;
    padding: 3rem 0 1rem;
    font-size: 3rem;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    padding: .5rem;
    margin: .5rem;
    color: #9d8167;
    border: 2px solid #9d8167;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: .1rem;
    box-shadow: 2px 2px #333;
    text-transform: capitalize;
    letter-spacing: .1rem;
}

.btn:hover {
    cursor: pointer;
    background-color: #9d8167;
    color: #eee;
    transition: .5s;
}

.cart-btn {
    padding: .5rem;
    margin: .1rem;
    color: #9d8167;
    border: 2px solid #9d8167;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: .1rem;
    box-shadow: 2px 2px #333;
    text-transform: capitalize;
    letter-spacing: .1rem;
}

.cart-btn:hover {
    cursor: pointer;
    background-color: #9d8167;
    color: #eee;
    transition: .5s;
}

.counter {
    padding: .5rem;
    margin: .1rem;
    background-color: #9d8167;
    color: #eee;
    border: 2px solid #9d8167;
    font-weight: bold;
    letter-spacing: .1rem;
    text-transform: capitalize;
    letter-spacing: .1rem;
}

.active {
    background-color: #9d8167;
    color: #eee;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    position: relative;
    width: 50%;
    height: 2rem;
    padding: 2rem;
    /* box-shadow: 0 0 3em rgba(0, 0, 0, 0.15); */
}

.search-bar {
    display: flex;
    border: 2px solid #9d8167;
    border-radius: 50px;
    width: 60px;
    position: relative;
    transition: width 300ms ease-in-out;
    padding: .5rem;
    background: #eee;
}

.search-bar__input {
    flex-grow: 1;
    border: none;
    padding: 0 .5rem;
    background: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    width: 60px;
}

.search-bar__input:focus {
    outline: 0;
    opacity: 1;
    cursor: initial;
    width: calc(100% - 40px);
}

.search-bar__submit {
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    padding: .5rem;
    background: transparent;
    color: #9d8167;
    height: 40px;
    margin-left: auto;
}

.active {
    background: #9d8167;
    color: #eee;
}

.search-bar:focus-within {
    width: 50%;
    font-size: 1rem;
}

.container {
    display: grid;
    font-family: 'Roboto', sans-serif;
    padding: 3rem 2rem;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
}

.container .dish {
    display: flex;
    gap: 1rem;
    padding: 20px;
}

.dish-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #9d8167;
}

.dish-title .dish-name {
    text-transform: capitalize;
}

.dish-info p {
    margin: 1rem;
    color: #555;
}

.dish-photo {
    object-fit: cover;
    max-width: 250px;
    height: 150px;
    border: 5px solid #9d8167;
    ;
    border-radius: 0.5rem;
}

.container .dish .dish-info .dish-name {
    position: relative;
    padding-bottom: 1rem;
    letter-spacing: .2rem;
    font-weight: bold;
}

.container .menu-item .dish p {
    padding: 10px;
    color: #555;
}

.container .dish .dish-info .price {
    padding-left: 1.5rem;
    color: #9d8167;
    font-weight: bold;
}


/* MEDIA QUERY 
***************/

@media screen and (max-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }
    body {
        padding: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .btn-container {
        flex-direction: column;
    }
    .search-bar:focus-within {
        width: 200px;
        font-size: 1rem;
    }
    .container {
        width: 80%;
        margin: 0;
        padding: 0;
    }
}