@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0 1rem;
    background-color: #f3e1d2;
    min-width: 100vw;
}

h1 {
    font-family: 'Great Vibes', cursive;
    color: #9d8167;
    text-align: center;
    padding: 3rem 0 1rem;
    font-size: 3rem;
    text-transform: capitalize;
}

.container .dish {
    display: flex;
    gap: 1rem;
    padding: 20px;
}

.dish-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #9d8167;
}

.dish-title .dish-name {
    text-transform: capitalize;
}

.dish-info p {
    margin: 1rem;
    color: #555;
}

.dish-photo {
    object-fit: cover;
    max-width: 250px;
    height: 150px;
    border: 5px solid #9d8167;
    ;
    border-radius: 0.5rem;
}