@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0 1rem;
    background-color: #f3e1d2;
    min-width: 100vw;
}

h1 {
    font-family: 'Great Vibes', cursive;
    color: #9d8167;
    text-align: center;
    margin: 2rem auto;
    font-size: 3rem;
    text-transform: capitalize;
}

.welcome,
.goodbye {
    font-family: 'Roboto', sans-serif;
    /* color: #9d8167; */
    font-size: 1.2rem;
    margin: 1rem;
}

.goodbye {
    text-align: end;
}

.container {
    display: grid;
    font-family: 'Roboto', sans-serif;
    padding: 2rem;
    background: rgba(157, 129, 103, 0.5);
    place-items: center;
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dish {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: initial;
    gap: 1rem;
    padding: 20px;
    width: 80%;
    border-bottom: solid 1px #697268;
}

.dish-info {
    display: flex;
    align-items: center;
}

.dish img {
    width: 50px;
    border-radius: 5px;
    margin-right: 1rem;
}

.dish .item-price {
    display: flex;
    justify-content: end;
    align-items: center;
}

.total {
    display: flex;
    justify-content: end;
    width: 90%;
    font-family: 'Roboto', sans-serif;
    color: #9d8167;
    height: 2rem;
}

.dish-info span {
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    letter-spacing: .1rem;
}

.display-cart {
    padding: 1rem;
}